#logo {
    font-size: 30px;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.815), 1px 1px 1px rgba(0,0,0,.5), -6px 8px 3px rgba(29,121,233,0.26);
    color: #007bffd6;
    position: relative;
}

/* #row {
    margin-top: 100px;
} */
